.section {
  -webkit-animation: scaleAnimation 1s ease-in-out;
          animation: scaleAnimation 1s ease-in-out;
  min-height: 100vh;
}
@-webkit-keyframes scaleAnimation {
  0% {
    -webkit-transform: translateY(-100%) scaleY(0);
            transform: translateY(-100%) scaleY(0);
  }
  100% {
    -webkit-transform: translateY(0%) scaleY(1);
            transform: translateY(0%) scaleY(1);
  }
}
@keyframes scaleAnimation {
  0% {
    -webkit-transform: translateY(-100%) scaleY(0);
            transform: translateY(-100%) scaleY(0);
  }
  100% {
    -webkit-transform: translateY(0%) scaleY(1);
            transform: translateY(0%) scaleY(1);
  }
}

.controls {
  position: fixed;
  right: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 10;
  top: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.controls .active-btn {
  background-color: var(--color-secondary) !important;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.controls .active-btn i {
  color: var(--color-white) !important;
}
.controls .control {
  padding: 1rem;
  background-color: var(--color-grey-4);
  height: 55px;
  width: 55px;
  border-radius: 50%;
  margin: 0.7rem 0;
  -webkit-box-shadow: var(--box-shadow-1);
          box-shadow: var(--box-shadow-1);
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.controls .control:active {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
.controls .control i {
  font-size: 1.2rem;
  color: var(--color-grey-2);
  -webkit-transition: 0.5;
  transition: 0.5;
}

@media (max-width: 767px) {
  .controls {
    top: auto;
    bottom: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: var(--color-grey-5);
    width: 100%;
  }
  .controls .control {
    margin: 1rem 0.5rem;
  }
}
body {
  background-color: var(--color-primary);
  font-family: "poppins", sans-serif;
  font-size: 1.1rem;
  color: var(--color-white);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  position: relative;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --color-primary: #191d2b;
  --color-secondary: #27AE60;
  --color-white: #FFFFFF;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(0,0,0,.3);
}

.light-mode {
  --color-primary: #FFFFFF;
  --color-secondary: #FAED55;
  --color-white: #454e56;
  --color-grey-1: #6c7983;
  --color-grey-2: #6c7983;
  --color-grey-5: #aba6a641;
}

.main-title {
  text-align: center;
}
.main-title h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
}
.main-title h2 .me {
  color: var(--color-secondary);
}
.main-title h2 .bg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--color-grey-5);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 6.3rem;
  opacity: 0.5;
}

.down-cv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.down-cv a {
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 1px solid var(--color-secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  z-index: 2;
}
.down-cv a .button-text {
  padding: 0 2rem;
}
.down-cv a .button-icon {
  background-color: var(--color-secondary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  padding: 1rem;
}
.down-cv a::after {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  content: "";
  background-color: var(--color-secondary);
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  z-index: -1;
  top: 0;
  right: 0;
}
.down-cv a:hover {
  color: var(--color-grey-1);
  z-index: 6;
}
.down-cv a:hover:hover::after {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.theme-btn {
  position: fixed;
  right: 3%;
  top: 5%;
  padding: 1rem;
  background-color: var(--color-grey-4);
  width: 55px;
  height: 55px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.theme-btn:active {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}
.theme-btn i {
  font-size: 1.4;
  color: var(--color-grey-2);
}

.sec4 {
  padding: 2rem 15rem;
}
.sec4 .main-title {
  text-align: center;
}
.sec4 .main-title h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 700;
}
.sec4 .main-title h2 .me {
  color: var(--color-secondary);
}
.sec4 .main-title h2 .bg-text {
  position: absolute;
  top: 50%;
  left: 50%;
  color: var(--color-grey-5);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: -1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 6.3rem;
  opacity: 0.5;
}

.contact-content {
  margin: 6rem 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}
.contact-content .left-contact {
  margin: 0 3rem;
}
.contact-content .left-contact h4 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.contact-content .left-contact p {
  margin: 1rem 0;
  line-height: 2rem;
  font-size: 1.2rem;
  font-weight: 300;
}
.contact-content .left-contact .contact-icons a {
  margin: 2rem 0.6rem;
  font-size: 1.5rem;
  background-color: var(--color-grey-5);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.contact-content .left-contact .contact-icons a:hover {
  background-color: var(--color-secondary);
}
.contact-content .left-contact .contact-icons a:hover i {
  color: black;
}
.contact-content .right-contact form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2rem 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin-bottom: 2rem;
}
.contact-content .right-contact form input, .contact-content .right-contact form textarea {
  background-color: var(--color-grey-5);
  outline: none;
  border: none;
  border-radius: 30px;
  padding: 15px;
  font-size: 1rem;
  color: #fff;
}
.contact-content .right-contact form #input, .contact-content .right-contact form #input + textarea {
  -ms-grid-column-span: 2;
  grid-column: span 2;
}
.contact-content .right-contact form .button-group {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1rem 1fr;
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-column-span: 2;
  grid-column: span 2;
  grid-gap: 1rem;
}
.contact-content .right-contact form .button-group #submit {
  background-color: var(--color-primary);
  border: 1px solid var(--color-secondary);
  font-size: 1.2rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: var(--color-white);
  font-weight: 600;
}
.contact-content .right-contact form .button-group #submit:hover {
  background-color: var(--color-secondary);
}
.contact-content .right-contact form .button-group #download-cv a {
  width: 100%;
}
.contact-content .right-contact form .button-group #download-cv a .button-icon {
  margin-left: auto;
}

@media screen and (max-width: 450px) {
  .sec4 {
    padding: 3rem 0.5rem !important;
  }
  .sec4 .main-title {
    text-align: center;
  }
  .sec4 .main-title h2 {
    font-size: 2rem !important;
    text-align: center;
  }
  .sec4 .main-title h2 .bg-text {
    font-size: 4rem !important;
    opacity: 0.5;
  }

  .contact-content {
    margin: 5rem 0rem !important;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
  .contact-content .left-contact {
    margin-bottom: 2rem;
  }
  .contact-content .left-contact h4 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .contact-content .left-contact p {
    line-height: 2rem;
    font-size: 1rem;
  }
  .contact-content .left-contact .contact-icons a {
    margin: 1rem 0.25rem;
    font-size: 1.2rem;
    background-color: var(--color-grey-5);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .contact-content .right-contact form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    grid-gap: 1rem;
    margin-bottom: 2rem;
    margin: 2rem 1rem;
  }
  .contact-content .right-contact form input, .contact-content .right-contact form textarea {
    padding: 10px;
    font-size: 0.75rem;
    color: #fff;
  }
  .contact-content .right-contact form #input, .contact-content .right-contact form #input + textarea {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
  .contact-content .right-contact form .button-group {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 0.5rem 1fr;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-column-span: 2;
    grid-column: span 2;
    grid-gap: 0.5rem;
  }
  .contact-content .right-contact form .button-group #submit {
    font-size: 0.9rem;
  }
  .contact-content .right-contact form .button-group #download-cv a {
    width: 100%;
    font-size: 0.75rem;
  }
  .contact-content .right-contact form .button-group #download-cv a .button-icon {
    margin-left: auto;
    font-size: 0.75rem;
  }
  .contact-content .right-contact form .button-group #download-cv a .button-text {
    padding: 0;
    padding-left: 1rem !important;
    text-align: center !important;
  }
}
@media screen and (max-width: 600px) and (min-width: 451px) {
  .sec4 {
    padding: 3rem 1rem !important;
  }
  .sec4 .main-title {
    text-align: center;
  }
  .sec4 .main-title h2 {
    font-size: 2.8rem !important;
    text-align: center;
  }
  .sec4 .main-title h2 .bg-text {
    padding: 0;
    padding-left: 2rem;
    font-size: 5.5rem !important;
    opacity: 0.5;
  }

  .contact-content {
    margin: 6rem 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
  .contact-content .left-contact h4 {
    font-size: 2rem;
    margin-bottom: 3rem;
  }
  .contact-content .left-contact p {
    line-height: 2rem;
    font-size: 1.2rem;
  }
  .contact-content .right-contact form input, .contact-content .right-contact form textarea {
    padding: 15px !important;
    font-size: 0.8rem !important;
  }
  .contact-content .right-contact form #submit {
    font-size: 1.2rem !important;
    padding: 0 1rem;
  }
  .contact-content .right-contact form #down {
    font-size: 0.9rem !important;
    padding: 0 1.5rem;
  }
}
@media screen and (min-width: 601px) and (max-width: 850px) {
  .sec4 {
    padding: 3rem 3rem !important;
  }
  .sec4 .main-title {
    text-align: center;
  }
  .sec4 .main-title h2 {
    font-size: 3.5rem !important;
    text-align: center;
  }
  .sec4 .main-title h2 .bg-text {
    font-size: 6rem !important;
    opacity: 0.5;
  }

  .contact-content {
    margin: 6rem 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1] !important;
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .contact-content .left-contact h4 {
    font-size: 2rem;
    margin-bottom: 3rem;
  }
  .contact-content .left-contact p {
    line-height: 2rem;
    font-size: 1.3rem;
  }
  .contact-content .right-contact form input, .contact-content .right-contact form textarea {
    padding: 20px !important;
  }
  .contact-content .right-contact .down-cv a .button-text {
    padding-left: 2rem;
  }
  .contact-content .right-contact #submit {
    background-color: var(--color-primary);
    border: 1px solid var(--color-secondary);
    font-size: 0.9rem;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
}
@media screen and (min-width: 851px) and (max-width: 1100px) {
  .sec4 {
    padding: 3rem 4rem;
  }
  .sec4 .main-title h2 {
    position: relative;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
  }
  .sec4 .main-title h2 .bg-text {
    font-size: 6.3rem;
  }

  .contact-content {
    margin: 6rem 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
  .contact-content .left-contact h4 {
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .contact-content .left-contact p {
    margin: 1rem 0;
    line-height: 2rem;
    font-size: 1.2rem;
    font-weight: 300;
  }
  .contact-content .left-contact .contact-icons a {
    margin: 2rem 0.6rem;
    font-size: 1.5rem;
    background-color: var(--color-grey-5);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .contact-content .left-contact .contact-icons a:hover {
    background-color: var(--color-secondary);
  }
  .contact-content .left-contact .contact-icons a:hover i {
    color: black;
  }
  .contact-content .right-contact form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2rem 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-bottom: 2rem;
  }
  .contact-content .right-contact form input, .contact-content .right-contact form textarea {
    background-color: var(--color-grey-5);
    outline: none;
    border: none;
    border-radius: 30px;
    padding: 15px;
    font-size: 1rem;
    color: #fff;
  }
  .contact-content .right-contact form #input, .contact-content .right-contact form #input + textarea {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
  .contact-content .right-contact form .button-group {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1rem 1fr;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-column-span: 2;
    grid-column: span 2;
    grid-gap: 1rem;
  }
  .contact-content .right-contact form .button-group #submit {
    background-color: var(--color-primary);
    border: 1px solid var(--color-secondary);
    font-size: 1.2rem;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .contact-content .right-contact form .button-group #submit:hover {
    background-color: var(--color-secondary);
  }
  .contact-content .right-contact form .button-group #download-cv a {
    width: 100%;
  }
  .contact-content .right-contact form .button-group #download-cv a .button-icon {
    margin-left: auto;
  }
}
@media screen and (max-width: 1300px) and (min-width: 1101px) {
  .sec4 {
    padding: 3rem 4rem;
  }
  .sec4 .main-title h2 {
    position: relative;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
  }
  .sec4 .main-title h2 .bg-text {
    font-size: 6.3rem;
  }

  .contact-content {
    margin: 6rem 0;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
  .contact-content .left-contact h4 {
    font-size: 2.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }
  .contact-content .left-contact p {
    margin: 1rem 0;
    line-height: 2rem;
    font-size: 1.2rem;
    font-weight: 300;
  }
  .contact-content .left-contact .contact-icons a {
    margin: 2rem 0.6rem;
    font-size: 1.5rem;
    background-color: var(--color-grey-5);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .contact-content .left-contact .contact-icons a:hover {
    background-color: var(--color-secondary);
  }
  .contact-content .left-contact .contact-icons a:hover i {
    color: black;
  }
  .contact-content .right-contact form {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 2rem 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-bottom: 2rem;
  }
  .contact-content .right-contact form input, .contact-content .right-contact form textarea {
    background-color: var(--color-grey-5);
    outline: none;
    border: none;
    border-radius: 30px;
    padding: 15px;
    font-size: 1rem;
    color: #fff;
  }
  .contact-content .right-contact form #input, .contact-content .right-contact form #input + textarea {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
  .contact-content .right-contact form .button-group {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1rem 1fr;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-column-span: 2;
    grid-column: span 2;
    grid-gap: 1rem;
  }
  .contact-content .right-contact form .button-group #submit {
    background-color: var(--color-primary);
    border: 1px solid var(--color-secondary);
    font-size: 1.2rem;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .contact-content .right-contact form .button-group #submit:hover {
    background-color: var(--color-secondary);
  }
  .contact-content .right-contact form .button-group #download-cv a {
    width: 100%;
  }
  .contact-content .right-contact form .button-group #download-cv a .button-icon {
    margin-left: auto;
  }
}